<!DOCTYPE html>
<html lang="en" ng-app="myNinjaApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="content/css/styles.css" />
    <script src="app/lib/angular.min.js"></script>
    <script src="app/App.js"></script>
    <title>AngularJS</title>
  </head>
  <body>
    <header ng-include="'./header.html'"></header>
    <div class=".container" ng-controller="NinjaController">
      <h2>Hello message</h2>
      <p>{{message}}</p>
      <h2>List of ninjas</h2>
      <input type="text" ng-model="search" />
      <ul>
        <p>• The name of the ninjas ordered by name</p>
        <li
          ng-repeat="ninja in ninjas | orderBy: 'name' | filter: search  track by $index"
        >
          {{ninja.name}} - {{ninja.rate | currency:"£"}}
        </li>

        <p>• The name of the ninjas ordered by name in reverse manner</p>
        <li
          ng-repeat="ninja in ninjas | orderBy: '-name' | filter: search track by $index"
        >
          {{ninja.name}} - {{ninja.rate | currency}}
        </li>
      </ul>
    </div>
  </body>
</html>
