<div class="content">
  <form name="contactForm" novalidate ng-submit="sendMessage()">
    <input
      type="text"
      name="name"
      id="name"
      placeholder="enter your name"
      ng-required="true"
      ng-model="contact.name"
    />
    <div
      class=""
      ng-show="contactForm.name.$touched && contactForm.name.$invalid"
    >
      <small style="color: red; font-size: 18px; display: block;"
        >please enter a valid name</small
      >
    </div>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="enter your email"
      ng-required="true"
      ng-model="contact.email"
    />
    <div
      class=""
      ng-show="contactForm.email.$touched && contactForm.email.$invalid"
    >
      <small style="color: red; font-size: 18px; display: block;"
        >please enter a valid email</small
      >
    </div>
    <textarea
      name="message"
      id="message"
      placeholder="leave your message down below"
      ng-required="true"
      ng-model="contact.message"
    ></textarea>
    <input type="submit" value="send" ng-disabled="contactForm.$invalid" />
  </form>
  <h3>Your name : {{contact.name}}</h3>
  <h3>Your email : {{contact.email}}</h3>
  <h3>Your message : {{contact.message}}</h3>
</div>
